@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Rajdhani:wght@500;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    font-family: Roboto, sans-serif;
    background-color: black;
    scroll-behavior: smooth;
    max-width: 1280px;
    margin: auto;
}
 body {
     color: white;
}

header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.navbar-brand {
    margin-right: 6em;
}

.media-icons img {
    width: 30px;
}

.main-title {
    font-family: "Leckerli One", sans-serif;
    font-weight: 400;
    font-size: 7em;
    text-align: center;
}

.main-subtitle {
    font-family: Roboto, sans-serif;
    font-size: 1.125em;
    text-align: center;
    color: #ffffff99;
    font-weight: 600;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-play-button {
    display: flex;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header-play-button img {
    width: 40px;
}

.our-videos-button {
    display: flex;
}

.our-videos-button p {
    text-decoration: none;
    color: white;
    text-align: center;
}

.show-numbers-title {
    font-weight: 700;
    font-family: Rajdhani, sans-serif;
    text-align: center;

}

.vr-show-numbers { 
    display: flex;
    justify-content: center;
}

@media {
    .vr-show-numbers {
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
    }
}

div .numbers-of-show {
    background-image: url(../img/galaxy-show-numbers.jpg);
    background-size: cover;
    background-position: center;
    width: 23em;
    height: 27em;
    margin: 20px;
    display: flex;
    align-items: flex-end;

}

.numbers-of-show-text {
    display: flex;
    margin-left: 15px;
}

.show-number {
    margin-right: 3.50em;
    font-size: 40px;
    font-weight: 600;
}

.numbers-text {
    display: flex;
    align-items: center;
}

div .shows-booked {
    background-image: url(../img/shows-booked-spaceman.jpg);
    background-size: cover;
    background-position: center;
    width: 23em;
    height: 27em;
    margin: 20px;
    display: flex;
    align-items: flex-end;
}

div .another-show-percentage {
    background-image: url(../img/another-show-percentage-sky.jpg);
    background-size: cover;
    background-position: center;
    width: 23em;
    height: 27em;
    margin: 20px;
    display: flex;
    align-items: flex-end;
}

.about-us {
    background-image: url(../img/vr-helmet-man.png);
    background-size: cover;
    background-position: center;
    height: 55em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about-us-title {
    font-size: 20px;
    font-family: Rajdhani, sans-serif;
    margin-right: 20px;
    margin-top: 10%;
    text-align: right;
    width: 50%;
    text-align: left;
}

.about-us-subtitle {
    font-size: 50px;
    font-family: Rajdhani, sans-serif;
    margin-right: 20px;
    width: 50%;
}

.about-us-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin-right: 40px;
    width: 48%;
}

.about-us-color-text {
    color: blueviolet;
}

.about-us-button {
    margin: auto;
}

@media (max-width: 54em) {
    .about-us-subtitle {
        width: 90%;
    }
}

@media (max-width: 54em) {
    .about-us-text {
        width: 90%;
    }
}

.vr-show {
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 70em) {
    .vr-show {
        grid-template-columns: 1fr;
    }
    .vr-show-carousel-bts {
        margin: auto;
        width: auto;
        heigh;
    }
    .vr-show-info {
        width: auto;
    }

}

.vr-show-info {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 6em;
}

.vr-show-title {
    font-family: Rajdhani, sans-serif;
    font-size: 20px;
    margin-top: 2em;
}

.vr-show-subtitle {
    font-family: Rajdhani, sans-serif;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 3em;
    margin-right: 2em;
    max-width: 80%;
}

.vr-show-colored-text {
    color: darkmagenta;
}

.vr-show-text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-right: 5em;

}

.social-icons-vr-show img {
    width: 4em;
}

.vr-show-carousel-bts {
    margin-top: 4em;
    height: 40em;
    width: 30em;
    margin-bottom: 25px;
    
}

.carousel-item img {
    border-radius: 10px;
}

.carousel-colored-text {
    color: black;
    font-weight: 700;
}

.banner-counter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-family: "Leckerli One", sans-serif;
    font-weight: 700;
}

.banner-counter-text {
    margin-right: 20px;
    font-family: "Leckerli One", sans-serif;
    font-weight: 700;
}

.prices {
    background-image: url(../img/prices-background.png);
    background-position: center;
    background-size: cover;
    height: auto;
    padding-bottom: 25px;
}

.prices-title {
    font-size: 20px;
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
    color: black;
    margin-top: 10%;
    margin-left: 50%; 
}

.prices-subtitle {
    font-size: 30px;
    font-family: Rajdhani, sans-serif;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}


#prices-cards-box {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

@media (max-width: 780px) {
    #prices-cards-box {
     display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        
    }

}

.family-plan {
    display: flex;
    flex-direction: column;
    background-image: url(../img/prices-card-background.png);
    width: 28%;
    height: 35em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.group-plan {
    display: flex;
    flex-direction: column;
    background-image: url(../img/prices-card-background.png);
    width: 28%;
    height: 35em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.expedition-plan {
    display: flex;
    flex-direction: column;
    background-image: url(../img/prices-card-background.png);
    width: 28%;
    height: 35em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.price-tag {
    display: flex;
    background-color: white;
    border-radius: 50%;
    color: black;
    width: 6em;
    height: 6em;
   justify-content: center;
    align-items: center;
}
