@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Rajdhani:wght@500;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    font-family: Roboto, sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

body{
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
    margin-top: 20px;
}

header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
}

.company-logo {
    font-family: Rajdhani;
    font-size: 1.6em;
    font-weight: 700;
    text-align: left;
}

.menu a {
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.menu-item {
    padding: 5px;
}

.media-icons img {
    width: 50px;
}

.main-title {
    font-family: "Leckerli One", sans-serif;
    font-weight: 400;
    font-size: 7.20em;
    text-align: center;
}

.main-subtitle {
    font-family: Roboto, sans-serif;
    font-size: 1.125em;
    text-align: center;
    color: #ffffff99;
    font-weight: 600;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.header-play-button img {
    width: 50px;
    text-align: center;
}

.our-videos-button {
    display: flex;
}

.our-videos-button p {
    text-decoration: none;
    color: white;
    text-align: center;
}

.show-numbers-title {
    font-weight: 3.125em;
    font-family: Rajdhani, sans-serif;
    text-align: center;

}

.vr-show-numbers { 
    display: flex;
    justify-content: center;
}

@media (min-width: 870px) {
    .vr-show-numbers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .vr-show-numbers {
        grid-template-columns: repeat(3, 1fr);
    }
}


div .numbers-of-show {
    background-image: url(../img/galaxy-show-numbers.jpg);
    background-size: cover;
    background-position: center;
    width: 24.37em;
    height: 30.5em;
    margin: 20px;
    display: flex;
    align-items: flex-end;

}

.numbers-of-show-text {
    display: flex;
    margin-left: 15px;
}

.show-number {
    margin-right: 3.50em;
    font-size: 40px;
    font-weight: 600;
}

.numbers-text {
    display: flex;
    align-items: center;
}

div .shows-booked {
    background-image: url(../img/shows-booked-spaceman.jpg);
    background-size: cover;
    background-position: center;
    width: 24.37em;
    height: 30.5em;
    margin: 20px;
    display: flex;
    align-items: flex-end;

}

div .another-show-percentage {
    background-image: url(../img/another-show-percentage-sky.jpg);
    background-size: cover;
    background-position: center;
    width: 24.37em;
    height: 30.5em;
    margin: 20px;
    display: flex;
    align-items: flex-end;

}
